@charset "UTF-8";


@font-face {
   font-family: "currency";
   src: url("../fonts/CURRENCY.TTF") format("truetype");
   font-weight: normal;
   font-style: normal;
}

h1#index {
   font-family: "currency";
   color: #394E37;
   font-size: clamp( 3em, 12vw , 7em );
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 35%;
}

main#index {
   width: 100vw;
   height: 100vh;
   position: relative; 
}

div#index {
   width: 100vw;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #F2F3D9;
}
img {
   width: 120px;
   left: 50%;
   top: 59%;
   transform: translate(-50%, -50%);
   position: absolute;

}

body {
   background-image: url("../imagens/fundo.jpeg");
   background-attachment: fixed;
}


