@charset "UTF-8";

@font-face {
   font-family: "orkneybolditalic";
   src: url("../fonts/OrkneyBolditalic.ttf") format("truetype");
}
/*
@font-face {
   font-family: "orkneymedium";
   src: url("../fonts/orkneymedium.ttf") format("truetype");
}
*/
@font-face {
   font-family: "currency";
   src: url("../fonts/CURRENCY.TTF") format("truetype");
   font-weight: normal;
   font-style: normal;
}

html {
   font-family: "orkneymedium";
   color: white;
}

body {
   background-image: url("../imagens/fundo.jpeg");
   background-attachment: fixed;
}

a {
   color: inherit;
   text-decoration: none;
}

strong {
   font-family: "orkneybolditalic";
   font-style: italic;
   font: bold;
   text-decoration: underline;
}

input::placeholder {
   color: white;
}


/*CSS INDEX*/
/*=======================================================*/
h1#index {
   font-family: "currency";
   color: #394E37;
   font-size: clamp( 3em, 12vw , 7em );
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 35%;
   padding-bottom: 35px;
}

main#index {
   width: 100vw;
   height: 100vh;
   position: relative; 
}

div#index {
   width: 100vw;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #F2F3D9;
}

img {
   width: 120px;
   left: 50%;
   top: 57%;
   transform: translate(-50%, -50%);
   position: absolute;
   padding: 5px;
}
/*=======================================================*/
.nav-l {
   width: 49%;
   box-sizing: border-box;
   padding-top: 150px;
   padding-right: 82px;
   display: inline-flex;
   font-size: 2em;
   justify-content: right;
}

.nav-r {
   width: 49%;
   box-sizing: border-box;
   padding-top: 70px;
   padding-left: 35px;
   display: inline-flex;
   font-size: 2em;
   justify-content: left;
}

.login {
   margin-top: 75px;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.login-container{
   min-height: 100px;
   width: 300px;
   box-sizing: border-box;
   padding: 32px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.login-form {
   width: 320px;
}

.login-input{
   height: 48px;
   width: 100%;
   color: white;
   background: transparent;
   box-sizing: border-box;
   padding-left: 8px;
   border: unset;
   outline: none;
}

.input-line {
   height: 1px;
   width: 100%;
   margin-bottom: 16px;
   display: block;
   background-color: white;   
}

.login-button{
   height: 48px;
   min-width: 300px;
   background-color: #360D68;
   color: white;
   font-size: 2em;
   font-weight: bold;
   border: unset;
   border-radius: 30px;
}

.button-container {
   min-height: 300px;
   width: 100% ;
   box-sizing: border-box;
   padding: 45px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav-recup {
   width: 49%vw;
   box-sizing: border-box;
   display: inline-flex;
   justify-content: center;
   font-size: 2.3em;
   padding: 32px;
}

.link-recup {
   font-size: .3em;
}

/*
input:empty {
   opacity: 0.1;
}

input:focus {
   opacity: 1;
}

input:not(:placeholder-shown) {
   opacity: 1;
}
